<center>
  <table width=100% border=0>
    <tr>
      <td rowspan=2 style="width: 790px;text-align: right"><img th:src="@{/image/Logo.png}" style="width:216px; height:68px"> </td>
      <td style="font-size:x-small;">
        <!--<p th:if="${session.memberLogin}"><span th:text="'欢迎'+${session.memberLogin.getEmail()}+'光临鲜花礼品网'" /></p>-->
        <!--<p th:unless="${session.memberLogin}">欢迎光临鲜花礼品网</p>-->
      </td>

      <td style="font-size:x-small;text-align:right;">

          <!--用戶操作-->
          <p th:if="${session.memberLogin}">
            <el-button type="primary" icon="el-icon-present"><a  href="/index/toVIPsubscribe" style="font-size:x-small;text-decoration:none;">会员开通</a></el-button>
            <el-button type="primary" icon="el-icon-view"><a  href="/admin/toAdminLogin" style="font-size:x-small;text-decoration:none;">后台登录</a></el-button>
            <el-button type="danger" icon="el-icon-circle-close"><a href="/index/logOut" style="font-size:x-small;text-decoration:none;">退出</a></el-button>
          </p>
          <p th:unless="${session.memberLogin}">
              <el-button type="success" icon="el-icon-user"><a href="/index/toRegister" style="font-size:x-small;text-decoration:none;">注册</a></el-button>
              <el-button type="primary" icon="el-icon-top"><a href="/index/toLogin" style="font-size:x-small;text-decoration:none;">登录</a></el-button>
            <el-button type="primary" icon="el-icon-user-solid"><a href="/index/toVIPRegister" style="font-size:x-small;text-decoration:none;">会员注册</a></el-button>
            <el-button type="primary" icon="el-icon-view"><a href="/admin/toAdminLogin" style="font-size:x-small;text-decoration:none;">后台登录</a></el-button>
          </p>

        <!--<a href="" style="text-decoration:none;">我的帐户</a>|-->
        <!--<a href="/order/showOrder" style="text-decoration:none;">我的订单</a>|-->
        <!--<a href="p" style="text-decoration:none;">添加鲜花</a>|-->
        <!--<a href="/cart/showCart" style="text-decoration:none;">购物车</a>|帮助中心-->
      </td>
    </tr>
      <tr></tr>

    <!--  菜单栏-->
    <tr style="background-color: steelblue; align:center ;text-align: center;line-height: 40px">
        <td colspan=3 style="text-align: center">
      <span style="color:White;"> |</span> &nbsp; &nbsp;
      <a href="/index" p style="text-decoration:none;"><span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体"> 主页</span></a>
      &nbsp;&nbsp;&nbsp; <span style=" color:White;"> |</span> &nbsp;&nbsp;&nbsp;
      <a href="/index/showflower"  style=" text-decoration:none;"><span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体">电影排名</span></a>
      &nbsp; &nbsp; <span style=" color:White;"> |</span>&nbsp;&nbsp;&nbsp;
    </td>
    </tr>
    <tr>
<span style="font-weight:bold; font-size:x-small; font-family:宋体">
</span>
    </tr>
  </table></center>